<!doctype html>
<html>
    <head>
        <title>top</title>
    </head>
    <body>
        <form action="/" method="post">
            item1:<select name="item1">
                <option value='{"itemType":"book", "enchantType":["smite", "unbreaking"], "enchantLevel":[2, 2], "priorWorkPenalty":2}'>対象1</option>
            </select>
            item2:<select name="item2">
                    <option value='{"itemType":"book", "enchantType":["knockback", "unbreaking", "smite"], "enchantLevel":[1, 2, 4], "priorWorkPenalty":4}'>対象2</option>
            </select>
            <input type="submit" value="ok">
        </form>
    </body>
</html>