<!doctype html>
<html>
    <head>
        <title>top</title>
        <link rel="stylesheet" type="text/css" href="static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <form calss="form-horizontal" action="/test" method="post">
          <div class="form-group">
            <div class="col-sm-12 form-inline" id="item1_inline">
              <label class="col-sm-1 control-label">item1</label>
              <select name="item1_name" class="form-control" id="item1_id">
                {% for i in json_data.keys() %}
                  <option value={{ i }}>{{ i }}</option>
                {% endfor %}
              </select>
              <button id="add_item1_enchant_button" type="button" class="btn btn-primary">add enchant</button>
            </div>

          </div>

          <div class="form-group">
            <div class="col-sm-12 form-inline" id="item2_inline">
              <label class="col-sm-1 control-label">item2</label>
              <select name="item2_name" class="form-control" id="item2_id">
                {% for i in json_data.keys() %}
                  <option value={{ i }}>{{ i }}</option>
                {% endfor %}
              </select>
              <button id="add_item2_enchant_button" type="button" class="btn btn-primary">add enchant</button>
            </div>
          </div>

          <button id="add_item_button" type="button" class="btn btn-primary">add item</button>

          <div class="form-group" id="submit_button">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">送信</button>
            </div>
          </div>
        </form>

        

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript">
          var json_data = {{ json_data|tojson|safe }};
        </script>
        <script type="text/javascript" src="static/view_main.js"></script>

    </body>
</html>
